#camera-area {
  position: relative;
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 375px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 2px;
  margin-right: 2px;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

#camera {
  position: relative;
  visibility: hidden;
  max-width: 500px;
  width: 100%;
  max-height: 375px;
  height: 100%;
  background-color: #FCFCFC;
}

#camera:hover {
  cursor: pointer;
}

#turn-on-camera {
  position: absolute;
  z-index: 1;
  width: 45%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  margin-bottom: 5%;
}

#turn-on-camera:hover {
  cursor: pointer;
}
