#camera-area {
  position: relative;
  width: auto;
  max-width: 500px;
  min-height: 439px;
  height: auto;
  left: 5%;
  transform: translateX(-5%);
  margin-left: 2px;
  margin-right: 2px;
  background: #EFEFEF;
}

#your-photo-area {
  position: relative;
  left: 50%;
  top: -472px;
  max-width: 422.5px;
  width: auto;
  max-height: 470px;
  height: auto;
  right: 5%;
  transform: translateX(10%);
}

#your-photo-scroll {
  position: relative;
  top: -2px;
  max-width: 416.5px;
  width: auto;
  max-height: 433px;
  height: auto;
  overflow-y: scroll;
  /* Border */
  padding: 3px;
}

.border-style {
  border: 2px solid #A8A8A8;
  border-radius: 6px;
}

#camera {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 500px;
  width: 100%;
  max-height: 375px;
  height: 100%;
  z-index: -2;
}

#camera:hover {
  cursor: pointer;
}

/* Upload picture */

#uploaded-picture {
  position: absolute;
  visibility: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 499px;
  width: 100%;
  max-height: 375px;
  height: 85%;
  z-index: -2;
  top: 0px;
  left: 0px;
}
#uploaded-picture:hover {
  cursor: pointer;
}

#upload-new-picture {
  position: fixed;
  visibility: hidden;
  width: 9%;
  height: 10%;
  bottom: 7.5px;
  left: 25%;
}
#upload-new-picture:hover {
  cursor: pointer;
}

/* Turn on camera while picture is on */
#turn-on-camera-picture-on {
  position: fixed;
  visibility: hidden;
  width: 9%;
  height: auto;
  bottom: 10px;
  left: 15px;
}
#turn-on-camera-picture-on:hover {
  cursor: pointer;
}

#canvas {
  position: fixed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 500px;
  width: 100%;
  max-height: 375px;
  height: auto;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#turn-on-camera {
  position: absolute;
  z-index: 1;
  width: 25%;
  left: 30%;
  top: 10%;
  transform: translateX(-50%);
  margin-top: 5%;
  margin-bottom: 5%;
}

#turn-on-camera:hover {
  cursor: pointer;
}

#upload-picture {
  position: absolute;
  z-index: 1;
  width: 25%;
  right: 15%;
  top: 20%;
}

#upload-picture:hover {
  cursor: pointer;
}

#take-picture {
  position: relative;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 5px solid grey;
  border-radius: 100%;
  margin: 5px;
  background: white;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

#take-picture:hover {
  background: #EFEFEF;
  cursor: pointer;
  background-image: url('/public/pictures/photo-camera-icon-128.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

#stop-camera {
  position: fixed;
  visibility: hidden;
  width: 9%;
  height: 10%;
  bottom: 10px;
  left: 15px;
}
#stop-camera:hover {
  cursor: pointer;
}

#download-picture {
  position: fixed;
  visibility: hidden;
  width: 9%;
  height: 10%;
  bottom: 10px;
  right: 15px;
}
#download-picture:hover {
  cursor: copy;
}

#filter-area {
  position: absolute;
  visibility: visible;
  top: 523px;
  left: 28px;
  width: 928px;
  height: 83px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 3px;
}

.filter-picture {
  position: relative;
  top: 0px;
  max-height: 83px;
  height: 98%;
  width: auto;
  display: inline-block;
  /* if you need ie7 support */
  *display: inline;
  zoom: 1
}

img.your-photo {
  position: relative;
  width: 48.5%;
  height: 32.5%;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  /* Background color */
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
img.your-photo:hover {
  cursor: pointer;
}

#applied-filter {
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 501px;
  width: 100%;
  max-height: 86%;
  height: auto;
  top: -1px;
}
.filter-style {
  position: fixed;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 501px;
  width: 100%;
  max-height: 86%;
  height: auto;
}

@media screen and (max-width: 1040px) {
  #camera-area {
    position: relative;
    min-height: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  #your-photo-area {
    position: relative;
    visibility: visible;
    top: 5px;
    padding: 5px;
    right: 50%;
    transform: translateX(-50%);
  }
  #filter-area {
    position: relative;
    visibility: visible;
    max-width: 500px;
    width: 90%;
    max-height: 83px;
    height: auto;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .filter-picture {
    width: 88px;
  }
  #stop-camera {
    left: 10px;
  }
  #turn-on-camera-picture-on {
    width: auto;
    height: 10%;
    bottom: 9px;
    left: 5%;
  }
  #upload-new-picture {
    height: 14%;
    width: auto;
    bottom: 0px;
    left: 17%;
  }
  #download-picture {
    height: 14%;
    width: auto;
    bottom: 0px;
    right: 5%;
  }
}
