body {
  font-family: 'Belgrano', serif;
}

a {
  text-decoration:  none;
  color: black;
}

@media screen and (min-width: 1034px) {
  .container {
    position: fixed;
    width: 1000px;
    height: 64px;
    top: 65px
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
}

@media screen and (max-width: 1034px) {

}
