body {
  font-family: 'Belgrano', serif;
  background-color: #FCFCFC;
}

a {
  text-decoration:  none;
  color: black;
}

#title-page {
  position: relative;
  text-align: center;
  padding-top: 10px;
  font-size: 1.7em;
}

.picture-sign {
  position: relative;
  width: 70%;
  top: 100px;
  /* Center */
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  display: block;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}
.sign {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%);
  display: block;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  /* Border */
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}
fieldset {
  font-size: 1.1em;
  text-align: center;
  border: none;
}
input {
  font-family: 'Belgrano', serif;
  font-size: 1.1em;
  border: 2px solid #CCC;
  margin: 5px;
  text-align: left;
  border-radius: 5px;
  padding-left: 5px;
}
input:hover {
  background-color: #e8ecf2;
}

#notYetR:hover {
  text-decoration: underline;
}

/* Adapt to screen size */

@media screen and (min-width: 1034px) {
  .container {
    position: relative;
    width: 1000px;
    height: auto;
    min-height: 1050px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    /* Background color */
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1034px) {
  .container {
    position: relative;
    width: 97%;
    height: auto;
    min-height: 1050px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    /* Background color */
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 800px) {
  .sign {
    position: absolute;
    right: 50%;
    top: 35%;
    transform: translateX(50%);
    display: block;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* Border */
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
  }
}
