#profile-area {
  profile: relative;
  max-width: 500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  /* Shadow */
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.25);
  background-color: #FCFCFC;
}

#profile-picture {
  profile: relative;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
}
#profile-picture:hover {
  cursor: pointer;
}

/* Profile picture */

.thumbnail-profile {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.thumbnail-profile img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail-profile img.portrait {
  width: 100%;
  height: auto;
}

#upload-profile-picture {
  position: relative;
  left: 225px;
  top: -220px;
  border: none;
  border-radius: 0px;
  font-size: 13px;
  width: 219px;
}

#profile-data {
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Notification */
#notif-status:hover {
  cursor: pointer;
}
